@charset "UTF-8";
body{
    background-color:rgb(10, 167, 144);
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
h1{
    background-color: black;
    color:chocolate;
}
h2{
    color: rgb(7, 7, 7);
}
p{
    font-weight: bold;
    color: brown;
}